name: "Run linter"

on:
  pull_request:
    branches: [ master, main ]
  push:
    branches: [ master, main ]

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.26

      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Download golangci-lint config
        run: curl -sS https://raw.githubusercontent.com/adlandh/golangci-lint-config/refs/heads/main/.golangci.yml -o .golangci.yml

      - name: Lint Code Base
        uses: golangci/golangci-lint-action@v7
